<div class="card shadow border-0">

    <div class="card-body p-4">

        <h3 class="mb-4">

            Información Financiera

        </h3>

        <form id="paso3">

            <div class="mb-3">

                <label class="form-label">

                    Número de entidades financieras

                </label>

                <input
                    type="number"
                    class="form-control"
                    id="entidades"
                    min="0"
                    max="20"
                    required>

            </div>

            <div class="mb-3">

                <label class="form-label">

                    Entidades en pérdida

                </label>

                <input
                    type="number"
                    class="form-control"
                    id="perdidas"
                    min="0"
                    max="20"
                    required>

            </div>

            <div class="mb-4">

                <label class="form-label">

            
            <div class="d-flex justify-content-between">

                <button
                    type="button"
                    id="volverPaso2"
                    class="btn btn-secondary">

                    ← Anterior

                </button>

                <button
                    type="submit"
                    class="btn btn-success">

                    Evaluar Solicitud

                </button>

            </div>

        </form>

    </div>

</div>